!!!
%html{ lang: I18n.locale }
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}

    // Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'fonts'
    = stylesheet_link_tag 'globals'
    = stylesheet_link_tag 'table_colors'

    = javascript_include_tag 'bootstrap.bundle.min'
    = javascript_include_tag 'charts'
    = javascript_include_tag 'highcharts.js'

  %body
    = yield