.container
  .row
    .col-11
      %h2#main-title.text-center.mb-3
        = t('texts.header1')
    .col.mt-3
      %a{:href => '/'}
        EN
      |
      %a{:href => '/fr'}
        FR

  %p
    = t('texts.intro1')
  %p
    = t('texts.intro2')
  %h4
    = t('texts.method1_title')
  %p
    = t('texts.method2')
  %p
    = t('texts.method3')
  %p
    = t('texts.method4')
  %h4
    = t('texts.analytics1_title')
  %p
    = t('texts.table1_intro')

  %table.table.table-striped
    %thead
      %tr
        %th{:rowspan => 2}
        - 4.step(16, 2).each_with_index do |step, index|
          %th.text-center{ class: "target_#{index}_0", :colspan => 2}
            = step
      %tr
        - 0.upto(6).each do |index|
          %th.text-center{ class: "target_#{index}_1" }
            d20
          %th.text-center{ class: "target_#{index}_1" }
            2d10

    %tbody
      - [ :critical_success, :success, :failure, :critical_failure ].each_with_index do |status, index|
        %tr
          %td= status
          - 4.step(16, 2).each_with_index do |step, index|
            %td.text-center{ class: "target_#{index}_1" }
              = "#{data.regular.send( step.to_s ).send( '20' ).send( status ).round} %"
            %td.text-center{ class: "target_#{index}_1" }
              = "#{data.regular.send( step.to_s ).send( '10' ).send( status ).round} %"

  %ul
    %li
      = t('texts.table1_explanation1')
    %li
      = t('texts.table1_explanation2')
    %li
      = t('texts.table1_explanation3')
    %li
      = t('texts.table1_explanation4')
  %h4
    = t('texts.charts1_title')
  %p
    = t('texts.chart1_intro')
  %p
    = t('texts.chart2_intro')

  #chart_regular_success

  #chart_critical_success
  %h4
    = t('texts.why1_title')
  %p
    = t('texts.why1')
  %p
    = t('texts.why2')
  %p
    = t('texts.why3')
  -#%p
  -#  = t('texts.why4')
  -#%p
  -#  = t('texts.why5')

  = input_tag :hidden, value: data.results.to_json, :id => 'json_data'

  -#= t('texts.json_chart_translations')