.container
  %h2
    = t('texts.header1')
  %p
    = t('texts.intro1')
  %p
    = t('texts.intro2')
  %h4
    = t('texts.method1_title')
  %p
    = t('texts.method2')
  %p
    = t('texts.method3')
  %p
    = t('texts.method4')
  %h4
    = t('texts.analytics1_title')
  %p
    = t('texts.table1_intro')
  = t('texts.table1')
  %ul
    %li
      = t('texts.table1_explanation1')
    %li
      = t('texts.table1_explanation2')
    %li
      = t('texts.table1_explanation3')
    %li
      = t('texts.table1_explanation4')
  %h4
    = t('texts.charts1_title')
  %p
    = t('texts.chart1_intro')
  %p
    = t('texts.chart2_intro')

  #chart_regular_success

  #chart_critical_success
  %h4
    = t('texts.why1_title')
  %p
    = t('texts.why1')
  %p
    = t('texts.why2')
  %p
    = t('texts.why3')
  -#%p
  -#  = t('texts.why4')
  -#%p
  -#  = t('texts.why5')

  = input_tag :hidden, value: data.charts.to_json, :id => 'json_data'

  -#= t('texts.json_chart_translations')